#landing{
    height: 500px;
    margin-top: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.jumbotron{
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(206, 223, 206);
    text-align: center;
}

body {
    background-image: url("./nature-forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.card{
    width: 20%;
    margin: 10px;
}

.container{
    align-content: center;
}

.row{
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#btn-container{
    padding: 30px;
    text-align: center;
}

#contact-box{
    padding: 20px;
}

.fa{
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    -ms-transition: transform .5s;
    transition: transform .5s;
}

.btn:hover .fa{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}